VITE_SUPABASE_URL=https://bmiuahsvycydhwqdpngb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtaXVhaHN2eWN5ZGh3cWRwbmdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg0NDQzNjUsImV4cCI6MjA3NDAyMDM2NX0.lz-lBsfEt4IODDTRlXiL9mR7PKB7EqmZh2dfkBhL654